html, body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 50px;
  }
  
  .header {
    height: 10px;
    background-color:rgb(255, 255, 255);
  }
  
  .container {
    width: 800px;
    min-height: 1000px;
    margin: 0 auto;
    background: white;
  }
  
.input1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 525px;
    font-size: 1.2rem;
    height: 35px;
}
  .nav  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 1.2rem;
  }
  
  .nav a{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    width: 600px;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color:rgb(255, 255, 255);
  }
  
  
  .nav  a:hover {
    opacity: 0.8;
  }
  
  .nav a:active{
    transform: scale(0.95);
  }
  
  .main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-addbutton {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('/image/addBlackButton.png');
    background-size: cover;
  }
  
  .image-addbutton:hover {
    opacity: 0.8;
  }
  
  .image-addbutton:active {
    transform: scale(0.95);
  }
  
  .image-refrashbutton {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('/image/refrashButton.png');
    background-size: cover;
  }
  
  .image-refrashbutton:hover {
    opacity: 0.8;
  }
  
  .image-refrashbutton:active {
    transform: scale(0.95);
  }

  .image-applybutton {
    margin: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('/image/applyBlackButton.png');
    background-size: cover;
  }
  
  .image-applybutton:hover {
    opacity: 0.8;
  }
  
  .image-applybutton:active {
    transform: scale(0.95);
  }
  
  
  .image-deletebutton {
    
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('/image/deleteBlackButton.png');
    background-size: cover;
  }
  
  .image-deletebutton:hover {
    opacity: 0.8;
  }
  
  .image-deletebutton:active {
    transform: scale(0.95);
  }
  
  .image-editbutton {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('/image/editButton.png');
    background-size: cover;
  }
  
  .image-editbutton:hover {
    opacity: 0.8;
  }
  
  .image-editbutton:active {
    transform: scale(0.95);
  }

  input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
  
    width: 600px;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }
  
  input:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  .error {
    width: 600px;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    display: flex;
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }