html, body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 50px;
  }
  
  .header {
    height: 10px;
    background-color:rgb(255, 255, 255);
  }
  
  .container {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    background: white;
  }

  .nav  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 1.2rem;
  }
  
  .nav a{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    width: 1600px;
    height: 1600px;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color:rgb(255, 255, 255);
  }