html, body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 50px;
  }
  
  .header {
    height: 10px;
    background-color:rgb(255, 255, 255);
  }
  
  .container {
    width: 800px;
    min-height: 1000px;
    margin: 0 auto;
    background: white;
  }
  
.element{
    margin: 5px 5px;
    display: inline-flex;
    border: 4px solid rgb(0, 0, 0);
    width: 700px;
    padding: 16px;
    text-decoration: none;
    color: black;
    background-color:rgb(255, 255, 255);
  }
  
  .nav  a:hover {
    opacity: 0.8;
  }
  
  .nav  a:active{
    transform: scale(0.95);
  }
  
  .main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-addbutton {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('/image/addBlackButton.png');
    background-size: cover;
  }
  
  .image-addbutton:hover {
    opacity: 0.8;
  }
  
  .image-addbutton:active {
    transform: scale(0.95);
  }
  
  .updateButton {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('/image/refrashButton.png');
    background-size: cover;
  }
  
  .updateButton:hover {
    opacity: 0.8;
  }
  
  .updateButton:active {
    transform: scale(0.95);
  }